.main-slider .slick-track{
    height: 100vh;
}
.main-slider .slick-slide {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 100000;
  }
  .main-slider .slick-slide:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

  .nav-slider .slick-list{
    height: 80px;
  }

  .nav-slider .slick-current>div>div{
    border-left: none;
  }